<%- include("header") -%>

    <div class="box">
        <h1 style="color:blueviolet">Hey, welcome to ASpark, where we keep your Spark Alive!</h1>
        <p>Have a business idea? Let us help you building your dreams...</p>
        <p>Feeling like giving up, we'll never give up on your dreams.</p>
        <p>We will not just support you Technically, but emotionally as well just enough to kepp your Spark alive.</p>
    </div>

<%- include("footer") -%>